# This is a basic workflow to help you get started with Actions

name: foo
on: [pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
    
    - name: get dependencies
      run: |
        python3 -c '
        import json
        event = json.load(os.environ['GITHUB_EVENT_PATH'])
        print("run on ",event["action"])
        '
